In [1]:
import numpy as np
import pandas as pd
import statistics
from statistics import mean

In [2]:
books = pd.read_csv('books.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')

C:\Users\20BCS\AppData\Local\Temp\ipykernel_12484\3819754567.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('books.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [7]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [9]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [10]:
books.duplicated().sum()

0

In [11]:
ratings.duplicated().sum()

0

In [12]:
users.duplicated().sum()

0

## Popularity Based Recommendation System

In [13]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [14]:
ratings_with_name = ratings.merge(books, on = 'ISBN')

In [15]:
ratings.merge(books, on = 'ISBN').shape

(1031136, 10)

In [16]:
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [17]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns = {'Book-Rating' : 'num_ratings'}, inplace = True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [18]:
# avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
# avg_rating_df.rename(columns ={'Book-Rating' : 'avg_rating'}, inplace = True)
# avg_rating_df

In [19]:
avg_rating_df = (ratings_with_name.groupby('Book-Title').count()/250)['Book-Rating'].reset_index()
avg_rating_df.rename(columns ={'Book-Rating' : 'avg_rating'}, inplace = True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...       0.016
1                                   Always Have Popsicles       0.004
2                    Apple Magic (The Collector's series)       0.004
3        Ask Lily (Young Women of Faith: Lily Series, ...       0.004
4        Beyond IBM: Leadership Marketing and Finance ...       0.004
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.       0.008
241067                     Ã?Â?rger mit Produkt X. Roman.       0.016
241068                                Ã?Â?sterlich leben.       0.004
241069                              Ã?Â?stlich der Berge.       0.012
241070                                  Ã?Â?thique en toc       0.008

[241071 rows x 2 columns]

In [20]:
popular_df = num_rating_df.merge(avg_rating_df, on = 'Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,0.016
1,Always Have Popsicles,1,0.004
2,Apple Magic (The Collector's series),1,0.004
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,0.004
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.004
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.008
241067,Ã?Â?rger mit Produkt X. Roman.,4,0.016
241068,Ã?Â?sterlich leben.,1,0.004
241069,Ã?Â?stlich der Berge.,3,0.012
241070,Ã?Â?thique en toc,2,0.008

In [21]:
popular_df[popular_df['num_ratings'] >= 250]

,Book-Title,num_ratings,avg_rating
764,1984,284,1.136
818,1st to Die: A Novel,509,2.036
1048,2nd Chance,356,1.424
1760,A Bend in the Road,346,1.384
2281,"A Child Called \It\"": One Child's Courage to S...",265,1.060
...,...,...,...
233850,White Oleander : A Novel,387,1.548
233851,White Oleander : A Novel (Oprah's Book Club),356,1.424
234740,Wicked: The Life and Times of the Wicked Witch...,326,1.304
234951,Wild Animus,2502,10.008
240860,"\O\"" Is for Outlaw""",269,1.076

In [22]:

popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating', ascending = False).head(50)

,Book-Title,num_ratings,avg_rating
234951,Wild Animus,2502,10.008
196326,The Lovely Bones: A Novel,1295,5.180
183573,The Da Vinci Code,898,3.592
5303,A Painted House,838,3.352
199237,The Nanny Diaries: A Novel,828,3.312
27922,Bridget Jones's Diary,815,3.260
206502,The Secret Life of Bees,774,3.096
52983,Divine Secrets of the Ya-Ya Sisterhood: A Novel,740,2.960
204387,The Red Tent (Bestselling Backlist),723,2.892
14392,Angels &amp; Demons,670,2.680
107962,Life of Pi,664,2.656
162651,Snow Falling on Cedars,662,2.648
209298,The Summons,655,2.620
200253,The Notebook,650,2.600
210064,The Testament,617,2.468
85957,House of Sand and Fog,588,2.352
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,2.340
201692,The Pelican Brief,581,2.324
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,2.300
189266,The Girls' Guide to Hunting and Fishing,573,2.292
169201,Summer Sisters,573,2.292
187702,The Firm,569,2.276
202244,The Pilot's Wife : A Novel,568,2.272
80414,Harry Potter and the Chamber of Secrets (Book 2),556,2.224
179274,The Brethren,556,2.224
193428,The Joy Luck Club,555,2.220
219349,Timeline,552,2.208
6980,A Time to Kill,549,2.196
209117,The Street Lawyer,545,2.180
74750,Girl with a Pearl Earring,526,2.104
205523,The Runaway Jury,520,2.080
219741,To Kill a Mockingbird,510,2.040
818,1st to Die: A Novel,509,2.036
180737,The Chamber,509,2.036
93210,Interview with the Vampire,508,2.032
191824,The Horse Whisperer,507,2.028
204000,The Rainmaker,501,2.004
119580,Message in a Bottle,496,1.984
202550,The Poisonwood Bible: A Novel,494,1.976
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,1.972
76343,Good in Bed,490,1.960
97767,Jurassic Park,488,1.952
181392,The Client,483,1.932
55358,Dreamcatcher,481,1.924
201472,The Partner,478,1.912
159301,She's Come Undone (Oprah's Book Club),468,1.872
79829,Hannibal,468,1.872
204153,The Reader,466,1.864
193881,The King of Torts,458,1.832
170101,Suzanne's Diary for Nicholas,457,1.828

In [23]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating', ascending = False).head(50)

In [24]:
popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title').shape

(50, 10)

In [25]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M']]

In [26]:
popular_df['Image-URL-M'][0]

'http://images.amazon.com/images/P/0971880107.01.MZZZZZZZ.jpg'

In [27]:
popular_df

,Book-Title,Book-Author,Image-URL-M
0,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...
1,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...
2,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...
8,A Painted House,John Grisham,http://images.amazon.com/images/P/044023722X.0...
13,The Nanny Diaries: A Novel,Emma McLaughlin,http://images.amazon.com/images/P/0312278586.0...
15,Bridget Jones's Diary,Helen Fielding,http://images.amazon.com/images/P/0330332775.0...
21,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...
27,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,http://images.amazon.com/images/P/0060928336.0...
30,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...
31,Angels &amp; Demons,Dan Brown,http://images.amazon.com/images/P/0671027360.0...
36,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...
40,Snow Falling on Cedars,David Guterson,http://images.amazon.com/images/P/0151001006.0...
47,The Summons,John Grisham,http://images.amazon.com/images/P/0440241073.0...
51,The Notebook,Nicholas Sparks,http://images.amazon.com/images/P/0446605239.0...
56,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...
63,House of Sand and Fog,Andre Dubus III,http://images.amazon.com/images/P/0375727345.0...
65,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...
66,The Pelican Brief,John Grisham,http://images.amazon.com/images/P/0440214041.0...
69,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...
71,The Girls' Guide to Hunting and Fishing,Melissa Bank,http://images.amazon.com/images/P/0140293248.0...
75,Summer Sisters,Judy Blume,http://images.amazon.com/images/P/0385324057.0...
79,The Firm,John Grisham,http://images.amazon.com/images/P/0385416342.0...
86,The Pilot's Wife : A Novel,Anita Shreve,http://images.amazon.com/images/P/0316601950.0...
87,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...
90,The Brethren,JOHN GRISHAM,http://images.amazon.com/images/P/0385497466.0...
95,The Joy Luck Club,Amy Tan,http://images.amazon.com/images/P/0804106304.0...
98,Timeline,MICHAEL CRICHTON,http://images.amazon.com/images/P/0345417623.0...
105,A Time to Kill,JOHN GRISHAM,http://images.amazon.com/images/P/0440211727.0...
112,The Street Lawyer,JOHN GRISHAM,http://images.amazon.com/images/P/0440225701.0...
117,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...
118,The Runaway Jury,JOHN GRISHAM,http://images.amazon.com/images/P/0440221471.0...
124,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...
132,1st to Die: A Novel,James Patterson,http://images.amazon.com/images/P/0446610038.0...
134,The Chamber,John Grisham,http://images.amazon.com/images/P/0385424728.0...
139,Interview with the Vampire,Anne Rice,http://images.amazon.com/images/P/0345337662.0...
141,The Horse Whisperer,Nicholas Evans,http://images.amazon.com/images/P/0440222656.0...
145,The Rainmaker,JOHN GRISHAM,http://images.amazon.com/images/P/044022165X.0...
152,Message in a Bottle,Nicholas Sparks,http://images.amazon.com/images/P/0446523569.0...
157,The Poisonwood Bible: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060930535.0...
158,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...
161,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...
163,Jurassic Park,Michael Crichton,http://images.amazon.com/images/P/0345370775.0...
170,The Client,John Grisham,http://images.amazon.com/images/P/038542471X.0...
174,Dreamcatcher,Stephen King,http://images.amazon.com/images/P/0743211383.0...
186,The Partner,John Grisham,http://images.amazon.com/images/P/0385472951.0...
190,She's Come Undone (Oprah's Book Club),Wally Lamb,http://images.amazon.com/images/P/0671021001.0...
191,Hannibal,Thomas Harris,http://images.amazon.com/images/P/0440224675.0...
203,The Reader,Bernhard Schlink,http://images.amazon.com/images/P/0679442790.0...
208,The King of Torts,John Grisham,http://images.amazon.com/images/P/0385508042.0...
212,Suzanne's Diary for Nicholas,James Patterson,http://images.amazon.com/images/P/0316969443.0...

## Collaborative Recommendation System

In [28]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
experience_users = x[x].index

In [29]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(experience_users)]

In [30]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [31]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [32]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [33]:
pt.fillna(0,inplace=True)

In [34]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
similarity_scores = cosine_similarity(pt)
similarity_scores.shape

(706, 706)

In [40]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:11]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [47]:
recommend('Harry Potter and the Order of the Phoenix (Book 5)')
# recommend('1984')
# recommend('Harry Potter and the Goblet of Fire (Book 4))

[['Harry Potter and the Goblet of Fire (Book 4)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'],
 ['Harry Potter and the Prisoner of Azkaban (Book 3)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'],
 ['Harry Potter and the Chamber of Secrets (Book 2)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0439064872.01.MZZZZZZZ.jpg'],
 ["Harry Potter and the Sorcerer's Stone (Book 1)",
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0590353403.01.MZZZZZZZ.jpg'],
 ["Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
  'J. K. Rowling',
  'http://images.amazon.com/images/P/059035342X.01.MZZZZZZZ.jpg'],
 ['A Wrinkle In Time',
  "MADELEINE L'ENGLE",
  'http://images.amazon.com/images/P/0440498058.01.MZZZZZZZ.jpg'],
 ['A Wrinkle in Time',
  "Madeleine L'Engle",
  'http://images.amazon.com/images/P/0440998050.01.MZZZZZZZ.jpg'],
 ["The Bonesetter's Daughter",
  'Amy Tan',
  'http://images.amazon.com/images/P/0399146431.01.MZZZZZZZ.jpg'],
 ['The Mists of Avalon',
  'MARION ZIMMER BRADLEY',
  'http://images.amazon.com/images/P/0345350499.01.MZZZZZZZ.jpg'],
 ['Practical Magic',
  'Alice Hoffman',
  'http://images.amazon.com/images/P/0425168468.01.MZZZZZZZ.jpg']]

In [45]:
pt.index[545]

"The Handmaid's Tale"

In [46]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [ ]:
books.drop_duplicates('Book-Title')

In [ ]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))